  <div class="l-skinny">
    {{audio-list availableAudio=availableAudio}}
  </div>
  <div class="l-flex">
    {{#draggable-object-target
      action='addToQueue'
      dragOverAction='myOverAction'
      dragOutAction='myDragOutAction'
      overrideClass='l-graybg'}}
      {{phrase-choices phrase=chosenPhrase removeWord='removeWord'}}
    {{/draggable-object-target}}
  {{play-button action='play'}}
  </div>


