<div class="l-full">
  <div class="l-maxwidth l-shadow">
    <img class="logo" src="/assets/img/logo.png">
  </div>

  {{outlet}}

  {{#if modalIsOpen}}
    {{share-dialog model=currentModel}}
  {{/if}}
</div>
