*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
body > .ember-view {
  height: 100%;
}

body {
  font-family: 'Owsald';
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald';
  margin: 0;
}
