.btn {
  @include appearance(none);
  background-color: white;
  border: none;
  font-family: 'Oswald';
  font-weight: 300;
}

.btn--big {
  padding: 15px 20px;
  font-size: 2rem;
}

.btn--red {
  background-color: $red;
  color: white;
}

.btn--blue {
  background-color: $blue;
  color: white;
}

.btn--green {
  background-color: $green;
  color: white;
}
