.l-full {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l-fixedfull {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 100;
}

.l-centered {
  position: absolute;
  height: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.l-main {
  display: flex;
  flex-direction: column;

  flex: 1;

  @include mq($small-and-up) {
    flex-direction: row;
  }
}

.l-maxwidth {
  width: 100%;
}

.l-lr-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.l-tb-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.l-h-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  @include mq($small-and-up) {
    margin-right: 25px;
    overflow-x: auto;
    white-space: normal;
  }
}

.l-skinny {
  overflow-y: scroll;
}

.l-flex {
  display: flex;

  flex: 1;
  align-self: stretch;
  flex-direction: column;
}

.l-graybg {
  background-color: #eaeaea;
}

.l-yellowbg {
  background-color: $yellow
}

.l-greenbg {
  background-color: $lightgreen;
  border-top: 5px solid $green;
}

.l-flexrows {
  height: 100%;
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;

  > * {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.l-scroll {
  overflow-y: scroll;
}

.l-flexinline {
  display: flex;
  justify-content: space-between;
  algn-content: center;
}

.l-flexrows--flush {
  justify-content: space-between;

  > * {
    margin: 5px;
    flex: 1;
  }

  > :last-child {
    flex-basis: 100%;
  }
}

.l-shadow {
  @include box-shadow(0px 0px 5px rgba(0,0,0,0.25));
}
