<ul>
{{#each availableAudio as |audio|}}
  <li>
  {{#draggable-object content=audio dragStartAction='myStartAction' dragEndAction='myEndAction'}}
    {{audio.label}}
  {{/draggable-object}}
  </li>
{{/each}}
</ul>
